<ion-view view-title="Dragon Race Stats">
	<ion-nav-buttons side="right">
		<button class="button button-positive" ng-click="changeOrder()">Reorder</button>
	</ion-nav-buttons>
  <ion-content>
		<ion-item class="text-center item-divider">
			<h3>Your points: {{ config.playerScore }}</h3>
		</ion-item>
    <ion-list ng-repeat="dragon in config.dragons | orderBy:score:reverse">
			<ion-item class="item-avatar" 
				ng-include="'templates/dragon-list-item.html'" 
				ng-if="$index < config.amountOfDragons"></ion-item >
		</ion-list>
  </ion-content>
</ion-view>